@import 'ext/solarized-light';

div.highlighter-rouge {
	width: 100%;
	right: 150px;
}

.highlight {
	background-color: #f4f4f4;
}

div.highlight {
	padding: 20px 50px;
}

pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
	background-color: #f4f4f4;
	width: 100%;
}
