<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<header class="texture-{{ site.texture.style }}">
		<div class="container">
			{%- include nav.html -%}
		</div>
		{%- include page_header.html -%}	
	</header>
	<main>
		<div class="resume-container">
            <u><h1>Experience</h1></u>
            <div class='experiences'>
                <div class="resume-experience">
                    <h2>Sterling Medical Devices</h2>
                    <h3>Full-Stack Software Engineer, <i>July 2019 to Present</i></h3>
                    <h4>Designed and engineered an iOS app using Swift that focuses on stroke detection which improves chances of recovery and decreases risk for long-term disability</h4>
                    <h4>Single-handedly architectured and implemented iOS Swift application designed to deliver oxygen to patients</h4>
                    <h4>Established a high-traffic API for sensitive patient data using AWS Lambda and Node.JS</h4>
                    <h4>Performed unit tests/validation tests to ensure mobile medical application meets FDA standards</h4>
                    <h4>Developed and tested various PowerShell scripts that were run across thousands of tablets</h4>
                    <h4>Configured a fully automated continuous integration pipeline for code deployment using Jenkins and PowerShell scripts</h4>
                    <h4>Published guides for software and tools for Johnson and Johnson’s surgical orthopedic robot</h4>
                </div>
                <hr />
                <div class="resume-experience">
                    <h2>Johnson & Johnson</h2>
                    <h3>Software Engineering Co-op, <i>June 2019 to December 2018</i></h3>
                    <h4>Involved in a proof of concept with the department’s senior director which saved time, money, and increased revenue</h4>
                    <h4>Participated in team-led solutions, reviewing peer’s code for quality and completeness</h4>
                    <h4>Automated the process of migrating MySQL scripts to PostgreSQL scripts by developing a python script</h4>
                    <h4>Created internal application that manages and keeps track of licensing agreements using Django and Bootstrap</h4>
                </div>
                <hr />
                <div class="resume-experience">
                    <h2>FaceConnect LLC</h2>
                    <h3>Programming Intern, <i>June 2017 to December 2017</i></h3>
                    <h4>Helped develop a virtual reality application to diagnose and analyze visually impaired patients using the Fove VR helmet</h4>
                    <h4>Partnered with developers and researchers to develop an innovative</h4>
                    <h4>Completed extensive research on ophthalmology to further improve algorithm used for analysis</h4>
                    <h4>Responsible for implementation, testing, delivery, and maintenance of the entire codebase</h4>
                </div>
                <hr />
                <div class="resume-experience">
                    <h2>IT Specialist Tier II</h2>
                    <h3>New Jersey Institute of Technology, <i>June 2015 to June 2019</i></h3>
                    <h4>Confer with customers to determine specifications of computers</h4>
                    <h4>Utilized issue tracking system</h4>
                    <h4>Completed diagnostics and repaired on time</h4>
                    <h4>Technical support for NJIT students, faculty, and staff</h4>
                </div>
                <hr />
            </div>

            <u><h1>Leadership</h1></u> 
            <div class="leadership">
                <div class="resume-leadership">
                    <h2>Code to Hope Volunteer</h2>
                    <h4>Fundraised $300 for a non-profit organization that provides technology to children in low income, poverty-stricken areas</h4>
                </div>
                <div class="resume-leadership">
                    <h2>New Jersey Keyboard Meetup Organizer</h2>
                    <h4>Helped coordinate and organize event with multiple sponsors for 3 years</h4>
                    <h4>Managed a budget of up to $300 for over 100 attendees</h4>
                </div>
            </div>
        </div>
        <br /><br /><br />        
	</main>
</body>
</html>


            
